In [77]:
import pandas as pd
from unidecode import unidecode

city_df = pd.read_csv('zasieg_terytorialny_krakow.csv', sep=';')

In [78]:
city_df.head(5)

,Rodzaj,Tytuły,Imiona,Nazwa,Przydział (Zakres),Urząd,Dzielnica
0,ULICA,NaN,NaN,28 LIPCA 1943,NaN,KR,Zwierzyniec
1,ALEJA,NaN,NaN,29 LISTOPADA,"Nr.1-39 b, 2-36, brak nr.38 i 40",SM,Stare Miasto
2,ALEJA,NaN,NaN,29 LISTOPADA,Nr.41-d.k. 42-d.k.,PK,Prądnik Czerwony
3,ALEJA,NaN,NaN,29 LISTOPADA,NaN,PK,Prądnik Biały
4,OSIEDLE,NaN,NaN,2 PUŁKU LOTNICZEGO,NaN,ŚR,Czyżyny

In [79]:
city_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2851 entries, 0 to 2850
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rodzaj              2851 non-null   object
 1   Tytuły              149 non-null    object
 2   Imiona              911 non-null    object
 3   Nazwa               2851 non-null   object
 4   Przydział (Zakres)  77 non-null     object
 5   Urząd               2851 non-null   object
 6   Dzielnica           2851 non-null   object
dtypes: object(7)
memory usage: 156.0+ KB

In [80]:
city_df.rename(columns={
    'Rodzaj': 'Type',
    'Tytuły': 'Titles',
    'Imiona': 'Names',
    'Nazwa': 'Name',
    'Przydział (Zakres)': 'Allocation (Range)',
    'Urząd': 'Office',
    'Dzielnica': 'District'
}, inplace=True)

In [81]:
def transform_text(text):
    if pd.isna(text):
        return ''
    
    return unidecode(str(text)).lower()

In [82]:
for col in city_df.columns:
    city_df[col] = city_df[col].apply(transform_text)

In [83]:
city_df.drop(columns=['Type', 'Allocation (Range)', 'Office'], inplace=True)

In [84]:
city_df['full_name'] = city_df['Titles'] + ' ' + city_df['Names'] + ' ' + city_df['Name']

In [86]:
unique_titles = city_df['Titles'].unique()
print(unique_titles)

['' 'generala' 'doktora' 'ksiedza      bi-\nskupa' 'profesora'
 'pulkownika' 'ojca' 'profesor' 'ksiedza' 'pana' 'ksiazat' 'rotmistrza'
 'porucznika' 'arcybiskupa' 'marszalka' 'biskupa' 'gen. pil.' 'sw.'
 'swietego' 'plk.' 'ppor.pil.' 'ksiedza  pra-\nlata' 'majora'
 'harcmistrza' 'im.' 'prezydenta' 'opata' 'ksiedza  kar-\ndynala'
 'blogoslawion' 'generala\npil.' 'matki' 'general' 'komandora'
 'ksiedza   pry-\nmasa' 'siostry' 'hetmana']

In [87]:
title_mapping = {
    'ksiedza pra- lata': 'ksiedza pralata',
    'ksiedza kar- dynala': 'ksiedza kardynala',
    'ppor.pil.': 'ppor. pil.',
}

def transform_text(text):
    if pd.isna(text):
        return ''
    corrected_title = title_mapping.get(text, text)
    return unidecode(corrected_title).lower()

In [88]:
city_df['Titles'] = city_df['Titles'].apply(transform_text)

In [89]:
city_df.head(50)

,Titles,Names,Name,District,full_name
0,,,28 lipca 1943,zwierzyniec,28 lipca 1943
1,,,29 listopada,stare miasto,29 listopada
2,,,29 listopada,pradnik czerwony,29 listopada
3,,,29 listopada,pradnik bialy,29 listopada
4,,,2 pulku lotniczego,czyzyny,2 pulku lotniczego
5,,,308 dywizjonu,czyzyny,308 dywizjonu
6,,,3 maja,lobzow,3 maja
7,,,3 maja,zwierzyniec,3 maja
8,,,6 sierpnia,pradnik czerwony,6 sierpnia
9,,,6 sierpnia,lobzow,6 sierpnia
10,,,8 pulku ulanow,debniki,8 pulku ulanow
11,,,8 pulku ulanow,lagiewniki,8 pulku ulanow
12,,,abrahama,wola duchacka,abrahama
13,,,agatowa,prokocim-biezanow,agatowa
14,,,agawy,podgorze,agawy
15,,,agrestowa,zwierzyniec,agrestowa
16,,,akacjowa,pradnik czerwony,akacjowa
17,,,akademicka,lobzow,akademicka
18,,,akademickie,czyzyny,akademickie
19,,,albanska,wola duchacka,albanska
20,,,albatrosow,podgorze,albatrosow
21,,,albertynskie,bienczyce,albertynskie
22,,adolfa,aleksandrowicza,swoszowice,adolfa aleksandrowicza
23,,,aleksandry,prokocim-biezanow,aleksandry
24,,,algierska,wola duchacka,algierska
25,,,aliny,pradnik czerwony,aliny
26,,,altanowa,bronowice,altanowa
27,,,amarantowa,swoszowice,amarantowa
28,,,amazonek,zwierzyniec,amazonek
29,,,ametystowa,prokocim-biezanow,ametystowa
30,,wladyslawa lu-\ndwika,anczyca,zwierzyniec,wladyslawa lu-\ndwika anczyca
31,,,andegawenska,bienczyce,andegawenska
32,generala,wladyslawa,andersa,grzegorzki,generala wladyslawa andersa
33,generala,wladyslawa,andersa,bienczyce,generala wladyslawa andersa
34,generala,wladyslawa,andersa,nowa huta,generala wladyslawa andersa
35,,hansa christiana,andersena,bienczyce,hansa christiana andersena
36,,ivo,andricia,wola duchacka,ivo andricia
37,,jozefa,andrusikiewicza,prokocim-biezanow,jozefa andrusikiewicza
38,,,andrychowska,wola duchacka,andrychowska
39,,,antyczna,pradnik czerwony,antyczna
40,,,anusi,debniki,anusi
41,,,architektow,grebalow,architektow
42,,tomasza,arciszewskiego,bronowice,tomasza arciszewskiego
43,,henryka,arctowskiego,czyzyny,henryka arctowskiego
44,,,arianska,grzegorzki,arianska
45,,,arktyczna,debniki,arktyczna
46,,,armii krajowej,bronowice,armii krajowej
47,,,armii krajowej,lobzow,armii krajowej
48,,,"armii ""krakow""",swoszowice,"armii ""krakow"""
49,,,arsenal,pradnik bialy,arsenal